.wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: var(--default-layout-header-height);
    background-color: var(--white-color);
    box-shadow: 0px 1px 1px rgba($color: #000000, $alpha: 0.12);
    z-index: 10;
}

.inner {
    width: var(--default-layout-width);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .search-header,
    .search-result {
        width: 361px;
        height: 46px;
    }
    .search-header {
        position: relative;
        display: flex;
        padding-left: 16px;
        background-color: rgba(22, 24, 35, 0.06);
        border-radius: var(--search-border-radius);
        border: 1.5px solid transparent;
        &:focus-within {
            border-color: rgba(22, 24, 35, 0.1);
        }
        input {
            flex: 1;
            height: 100%;
            font-size: 1.6rem;
            padding-right: 40px;
            color: var(--text-color);
            background-color: transparent;
            border: none;
            outline: none;
            caret-color: var(--primary-color);
        }
        input:not(:placeholder-shown) ~ .btn-search {
            color: var(--text-color);
        }
        .btn-clear {
            position: absolute;
            top: 50%;
            left: calc(260px + 16px);
            transform: translateY(-50%);
            font-size: 1.4rem;
            color: rgba(22, 24, 35, 0.34);
            border: none;
            outline: none;
        }
        .loading {
            // display: none;
            position: absolute;
            top: 50%;
            left: calc(260px + 16px);
            transform: translateY(-50%);
            color: rgba(22, 24, 35, 0.34);
        }
        .btn-search {
            position: relative;
            width: 52px;
            height: 100%;
            font-size: 1.8rem;
            color: rgba(22, 24, 35, 0.34);
            border-top-right-radius: var(--search-border-radius);
            border-bottom-right-radius: var(--search-border-radius);
            border: none;
            outline: none;
            &:hover {
                cursor: pointer;
                background-color: rgba(22, 24, 35, 0.03);
            }
            &:active {
                background-color: rgba(22, 24, 35, 0.06);
            }
            &::after {
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                width: 1.3px;
                height: 70%;
                background-color: rgba(22, 24, 35, 0.12);
                transform: translateY(-50%);
            }
        }
    }
    .search-result {
        .search-title {
            font-size: 1.4rem;
            font-weight: 600;
            color: rgba(22, 24, 35, 0.5);
            padding: 5px 12px;
        }
    }

    .actions-header {
        display: flex;
        .options {
            font-size: 20px;
            margin-left: 24px;
            padding: 8px;
            background: transparent;
            border: none;
            outline: none;
        }
    }

}
